/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

// 17 + 6 LEDs, from https://docs.splitkb.com/hc/en-us/articles/6485468787100-Aurora-Sweep-schematics
&led_strip {
    chain-length = <23>;
};

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                       &kp W                 &kp F  &kp P  &kp B    &kp J  &kp L  &kp U           &kp Y            &td DQT SQT
&kp A                       &kp R                 &kp S  &kp T  &kp G    &kp M  &kp N  &kp E           &kp I            &kp O
&kp Z                       &kp X                 &kp C  &kp D  &kp V    &kp K  &kp H  &td SEMI COMMA  &td COLON DOT    &kp SLASH
&mt LC(LS(LEFT_ALT)) SPACE  &mt LSHIFT BACKSPACE                                                       &mt RCTRL ENTER  &to 1
            >;
        };

        Symbols {
            bindings = <
&kp ESC    &kp AT          &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS        &kp STAR         &mt COLON SEMICOLON  &kp BACKSPACE
&kp TAB    &kp EQUAL       &kp SQT   &trans    &trans       &kp BSLH   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE             &kp ENTER
&kp TILDE  &kp A           &kp DQT   &trans    &trans       &kp LBKT   &kp LPAR        &kp RPAR         &kp RBKT             &to 3
&to 0      &kp LEFT_SHIFT                                                                               &kp LEFT_ALT         &to 2
            >;
        };

        Numbers {
            bindings = <
&kp ESCAPE      &kp C_PP      &kp C_PREV            &kp C_NEXT       &kp UNDER     &kp KP_MINUS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BACKSPACE
&kp TAB         &trans        &kp C_VOL_DN          &kp C_VOLUME_UP  &kp PLUS      &kp KP_EQUAL  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ENTER
&kp KP_NUMLOCK  &kp STAR      &kp C_BRIGHTNESS_DEC  &kp C_BRI_INC    &kp KP_DOT    &kp N0        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT
&to 0           &kp LEFT_GUI                                                                                                       &kp RALT         &to 0
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &kp K_BACK  &kp UP    &kp K_FORWARD  &kp BACKSPACE
&trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT    &kp DOWN  &kp RIGHT      &kp ENTER
&trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans    &trans         &trans
&to 0   &trans                                                          &trans         &to 1
            >;
        };
    };
};
